.App{
  background: rgb(0, 185, 218);
  height: 100%;
  color: white;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.main-block{
  height: 80vh;
}

footer{
  background: rgb(4, 217, 255);
  color: white;
  width: 100%;
  padding: 10px 0;
  text-align: end;
  box-shadow: black 0px -1px 3px;
}

.footer p{
  text-align: end;
}


